.app {
  margin: 5%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.searchBox {
  display: inline-flex;
  align-items: center;
  gap: 5%;
}

.horizontalLine {
  color: black;
}

.searchBoxInput {
  top: 50%
}

.foodList {
  position: fixed;
  display: block;
  width: 100%;
}